#shared-header nav {
    border-bottom-color: transparent !important;
    position:fixed; 
    top:0; 
    left:0; 
    right:0; 
    z-index:1000;
}

.logo-text {
    /* font-family: 'BestienyaYulistiani', sans-serif; */
    font-family: 'BebasNeue-Regular', sans-serif;
    color: rgb(109, 214, 40);
    /* -webkit-text-stroke: 1px #7cdc53; */
    text-shadow: 0px 2px 4px rgb(192, 36, 82);
    font-size: 2rem;
    letter-spacing: 0.05em; 
}


#shared-footer footer {
    border-top-color: transparent !important;
    
}

/* plant-themed green for the “About”/“Terms” links */
#shared-footer .container a.fw-bold {
    color: #388e3c;
    /* SeaGreen—swap in any hex you like */
    transition: color .2s ease;
}

#shared-footer .container a.fw-bold:hover {
    color: #2e7d32;
    /* Darker green on hover */ }

/* Login and register button, loaded after bootstrap.css */
.btn.btn-primary.btn-lg.w-100 {
    background-color: #388e3c !important;
    border-color: #388e3c !important;
    color: #fafafa !important;
    transition: all 150ms ease-in-out;
}

.btn.btn-primary.btn-lg.w-100:hover {
    background-color: #2e7d32 !important;
    transform: translateY(-2px); 
}


/* About - Terms & Conditions */
.card.shadow-sm {
    background-color: rgba(227, 227, 227, 0.482);
    backdrop-filter: blur(6px);  
}

/* @font-face {
    font-family: 'BestienyaYulistiani';
    src: url('../fonts/BestienyaYulistiani.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
} */

@font-face {
    font-family: 'BebasNeue-Regular';
    src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}